header {
    border: solid gray 1px;
    width: auto;
    border-radius: 5px;
    margin: 100px auto;
    background: #bbb;
    padding: 50px;
    color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
section {
    position: relative;
    top: 50px;
}
footer {
    position: relative;
    margin-top: 100px;
}